.main {
    padding-inline: 15%;
}

.chatResContainer {
    margin-top: 60px;
    overflow-y: scroll;
    height: 60vh;
}

.resText {
    margin-bottom: 20px;
}

.loader {
    margin-top: 20px;
}

/* Mobile */
@media (max-width: 700px) {

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}
