.main {
    padding-inline: 20%;
}

.chatResContainer {
    margin-top: 60px;
    overflow-y: auto;
    height: 72vh;
    padding-inline: 3%;
}

.resText {
    margin-bottom: 20px;
    white-space: pre-line;
}

.codeBlock {
    background-color: rgb(11, 11, 11);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.resCode {
    white-space: pre-line;
    color: lime;
}

.resTextUser {
    font-size: 18px;
    margin-bottom: 10px;
}

.loader {
    margin-top: 20px;
}

/* Mobile */
@media (max-width: 700px) {
    .main {
        padding-inline: 5%;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}
